* text=auto eol=lf
*.png binary
*.jpg binary
/.github export-ignore
/.wordpress-org export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.distignore export-ignore
/README.md export-ignore
